html {
  font-size: $font-size;
  font-family: $font-family;
  background: $background-color;
  color: $font-color;
  max-width: $page-width;
  line-height: 1.4;
}

img {
  float: left;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

body {
  margin: 0;
  width: 100vw;
}

h1 {
  margin: auto;
  text-align: center;
  max-width: 90vw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.invalid {
  border: 2px dashed red;
}

.valid {
  border: 2px solid green;
}
