html {
  font-size: $font-size;
  font-family: $font-family;
  background: $background-color;
  color: $font-color;
  max-width: $page-width;
  line-height: 1.4;
}

img {
  float: left;
  width: 20%;
  height: 20%;
  object-fit: cover;
}

body {
  margin: 0;
  width: 100vw;
}

h1 {
  margin: auto;
  text-align: center;
  max-width: 90vw;
}
