$font-size: 1rem;
$font-family: 'Inter', sans-serif;
$background-color: #bab7ba;
$font-color: #000000;
$page-width: 650px;
$signatureColor: #d5c001;
$backgroundSignature: #333;

$body-bg: $background-color;
$body-color: #111;
