.pictureSelect {
  text-align: center;
  min-height: 150px;
}

.pictureList {
  img {
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

#selection {
  position: absolute;
  margin-top: 5pc;
  text-align: center;
  border: black;
}

.space {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: large;
}
