.pictureSelect {
  width: 40%;
  max-height: 10%;
  float: left;
  margin: 3px;
  padding: 3px;
}

.pictureList {
  width: 50%;
  min-height: 120px;
  float: left;
  margin: 3px;
  padding: 3px;
  border: black;
}
